<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>

<div class="container">

<div class="row">
 <div class="col-md-8 col-md-offset-2">

  <h3>iTunes サンプル検索</h3>

  <p>
   <table>
    <tr>
     <th>検索ワード</th><th></th>
    </tr>
    <tr>
     <td><input type="text" id="word"></td>
     <td><input type="button" onClick="searchiTunes()" value="検索"></td>
    </tr>
   </table>
  </p>

  <p>
   <div id="result"></div>
  </p>

 </div>
</div>
